body {background-color:#80C0A0; link:#006060; vlink:#7499cc;color:#202020;alink:000000}

p.title{text-align:center; font-size:3em; color:#000000}


.uppertop
{
	background-color : #83A4E4;
	margin: 1px;
	border:none;
	padding:1px;
	text-align:center;
}

.uppertitle
{
	background-color : #F3C4C4;
	margin: 1px;
	border:none;
	text-align:center;
}

.upperlist
{
	background-color : #D0DCCF;
	margin: 1px;
	border:none;
}
