
body.basic {background-color : #80C0A0; color : #202020}
p.title {color : Black; font-size : 200%; text-align : center}
pre {color : Black; font-size : 100%}
a:link{color : #006060}
a:vlink{color : #7499CC}
a:alink{color : #000000}
img {border-style :none}


.nextline
{
	clear:left;
}

.box1
{
	width: 32px;
	background-color : #F3C4C4;
	margin: 1px;
	border:none;
}

.box2
{
	width: 150px;
	background-color : #D0DCCF;
	margin: 1px;
	border:none;
}

.box3
{
	width: 500px;
	background-color : #DDDDDD;
	margin: 1px;
	border:none;
}

.basicbox1
{
	width: 150px;
	background-color : #F3C4C4;
	margin: 1px;
	border:none;
}

.basicbox2
{
	width: 550px;
	background-color : #D0DCCF;
	margin: 1px;
	border:none;
}

.menubox
{
	background-color : #A080D0;
	width:800px;
	padding:5px;
}

.descbox
{
	background-color : #80A0D0;
	width:800px;
	padding:5px;
}
